In [ ]:
### Calculating route choice
### Input: Discrete choice parameters
### Tool: Python numpy.random

### Step 0. Import necessary packages

In [1]:
import numpy as np
import pandas as pd

### Step 1. Input the choice set

In [2]:
choice_set = pd.DataFrame({
    'choice': [1, 2, 3],
    'walking_time': [1, 1, 10],
    'in-transit_time': [11, 9, 7],
    'transfer_time': [1, 0, 0]})
display(choice_set)

   choice  walking_time  in-transit_time  transfer_time
0       1             1               11              1
1       2             1                9              0
2       3            10                7              0

In [3]:
choice_set['utility'] = -(choice_set['walking_time'] + choice_set['in-transit_time'] + choice_set['transfer_time'])/60
choice_set['exp_utility'] = np.exp(choice_set['utility'])
display(choice_set)

   choice  walking_time  in-transit_time  transfer_time   utility  exp_utility
0       1             1               11              1 -0.216667     0.805198
1       2             1                9              0 -0.166667     0.846482
2       3            10                7              0 -0.283333     0.753269

In [4]:
sum_e_utility = np.sum(choice_set['exp_utility'])
print(sum_e_utility)

2.4049487053633416

In [5]:
choice_set['probability'] = choice_set['exp_utility']/sum_e_utility
display(choice_set)

,choice,walking_time,in-transit_time,transfer_time,utility,exp_utility,probability
0,1,1,11,1,-0.216667,0.805198,0.334809
1,2,1,9,0,-0.166667,0.846482,0.351975
2,3,10,7,0,-0.283333,0.753269,0.313216

### Step 2. Random sample from choice set

In [6]:
num_of_trips = 1000

In [7]:
sample_results = np.random.choice(choice_set['choice'], p=choice_set['probability'], size=num_of_trips)
sample_results[0:10]

array([1, 1, 3, 3, 2, 1, 1, 3, 2, 3])

In [8]:
choice_one_total = np.sum(sample_results==1)
choice_two_total = np.sum(sample_results==2)
choice_three_total = np.sum(sample_results==3)

print('Number of travelers choosing option 1 is {}'.format(choice_one_total))
print('Number of travelers choosing option 2 is {}'.format(choice_two_total))
print('Number of travelers choosing option 3 is {}'.format(choice_three_total))

Number of travelers choosing option 1 is 328
Number of travelers choosing option 2 is 343
Number of travelers choosing option 3 is 329